/* Add your custom styles here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #9b7070;
}

.container {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
}

.registration-form, .login-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-control {
    width: 95%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add more custom styles and emojis as needed */
