{% extends "base.html" %}

{% block title %}Register - Fashion Designs Information System{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="registration-form">
            <h2 class="display-4">Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p|safe }}
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-user-plus"></i> Register 📝
                </button>
            </form>
        </div>
    </div>
{% endblock %}
