{% extends "base.html" %}

{% block title %}Your Designs - Fashion Designs Information System{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="display-4">Your Designs</h2>
        <div class="row">
            {% for design in designs %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card h-100 d-flex flex-column">
                        <img src="{{ design.cover_image.url }}" alt="{{ design.title }}" class="card-img-top" style="max-width: 100%">
                        <div class="card-body flex-grow-1 d-flex flex-column">
                            <h3 class="card-title">{{ design.title }}</h3>
                            <p class="card-text flex-grow-1">{{ design.short_description }}</p>
                            <div class="mt-auto">
                                <a href="{% url 'design_detail' design.id %}" class="btn btn-primary">
                                    View Details <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-primary" href="{% url 'upload_design' %}">
            <i class="fas fa-upload"></i> Upload a Design 📤🎨
        </a>
    </div>
{% endblock %}
