{% extends "base.html" %}

{% block title %}Update Design - Fashion Designs Information System{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="display-4">Edit Design</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p|safe }}
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-pen"></i> Update 🎨
            </button>
        </form>
        <a class="btn btn-secondary" href="{% url 'design_list' %}">
            <i class="fas fa-undo"></i> Cancel 🚫
        </a>
    </div>
{% endblock %}
