{% extends 'base.html' %}

{% block title %}View Appointment - Fashion Designs Information System{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="display-4">View Appointment</h2>
        <div class="card">
            <div class="card-body">
                <h3>Designer: {{ appointment.designer.username }}</h3>
                <p>Date: {{ appointment.date }}</p>
                <p>Start Time: {{ appointment.start_time }}</p>
                <p>End Time: {{ appointment.end_time }}</p>
                <p>Status: {{ appointment.status }}</p>
                <p>Description: {{ appointment.description }}</p>
                
                {% if appointment.client == user %}
                    <!-- Only show buttons if the logged-in user is the client -->
                    {% comment %} <a href="{% url 'update_appointment' appointment.id %}" class="btn btn-primary">Update</a> {% endcomment %}
                    <a href="{% url 'delete_appointment' appointment.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
